@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;


@model LibraryManagement_MVC.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<style>

    #CaptchaInputText {
        text-transform: uppercase;
    }
</style>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="login-panel">

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <h3>Login</h3>
        </div>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @maxlength = 30 })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <br />
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = 30 })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-xs-12">
            <div id="captcha" class="captcha">
                @Html.Label("Captcha")
                @*@Html.Captcha(5)*@
                @*@Html.MathCaptcha()*@
                @Html.Captcha("Refresh", "Ener the text you see above", 5, "<span class='text-danger'>Captcha is required.</span>", true)
                <p class="text-danger">@ViewBag.CaptchaErrorMessage</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <br />
            <input class="btn btn-success" type="submit" value="Login" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-0 col-md-10">
            <br />
            @Html.ActionLink("Register New User", "Register", "Home")
        </div>
    </div>

</div>
}