@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc;


@model LibraryManagement_MVC.Models.User

@{
    ViewBag.Title = "Login";
    Layout = null;
}


<br />
<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset style="height:150px; width:500px;">
        <legend>Login</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(m => m.Email)</td>
                <td>@Html.TextBoxFor(m => m.Email)</td>
                <td>@Html.ValidationMessageFor(m => m.Email)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.Password)</td>
                <td>@Html.PasswordFor(m => m.Password)</td>
                <td>@Html.ValidationMessageFor(m => m.Password)</td>
            </tr>
            <tr>
                <td>
                    @*@Html.Captcha(5)*@
                    @Html.MathCaptcha()
                </td>
            </tr>
            <tr>
                <td>
                    <p class="has-error"> @ViewBag.CaptchaErrorMessage</p>
                </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td><input type="submit" value="Login" /></td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td>@Html.ActionLink("Register New User", "Register", "Home")</td>
            </tr>
        </table>

    </fieldset>
}